<p id="notice"><%= notice %></p>

<h1>Listing Program Developments</h1>

<table>
  <thead>
    <tr>
      <th>Leader</th>
      <th>Pcfunday1 1</th>
      <th>Pcfunday1 2</th>
      <th>Pcfunday1 3</th>
      <th>Pcfunday1 4</th>
      <th>Pcfunday1 5</th>
      <th>Pcfunday1 6</th>
      <th>Pcfunday2 1</th>
      <th>Pcfunday2 2</th>
      <th>Pcfunday2 3</th>
      <th>Pcfunday2 4</th>
      <th>Pcfunday2 5</th>
      <th>Pcfunday2 6</th>
      <th>Pcfunday3 1</th>
      <th>Pcfunday3 2</th>
      <th>Pcfunday3 3</th>
      <th>Pcfunday3 4</th>
      <th>Pcfunday3 5</th>
      <th>Pcfunday3 6</th>
      <th>Pcfunday4 1</th>
      <th>Pcfunday4 2</th>
      <th>Pcfunday4 3</th>
      <th>Pcfunday4 4</th>
      <th>Pcfunday4 5</th>
      <th>Pcfunday4 6</th>
      <th>Principalpcfunday1 1</th>
      <th>Principalpcfunday1 2</th>
      <th>Principalpcfunday1 3</th>
      <th>Principalpcfunday1 4</th>
      <th>Principalpcfunday1 5</th>
      <th>Principalpcfunday1 6</th>
      <th>Principalpcfunday2 1</th>
      <th>Principalpcfunday2 2</th>
      <th>Principalpcfunday2 3</th>
      <th>Principalpcfunday2 4</th>
      <th>Principalpcfunday2 5</th>
      <th>Principalpcfunday2 6</th>
      <th>Parentingprogramday1 1</th>
      <th>Parentingprogramday1 2</th>
      <th>Parentingprogramday1 3</th>
      <th>Parentingprogramday1 4</th>
      <th>Parentingpramday1 5</th>
      <th>Parentingprogramday1 6</th>
      <th>Parentingprogramday2 1</th>
      <th>Parentingprogramday2 2</th>
      <th>Parentingprogramday2 3</th>
      <th>Parentingprogramday2 4</th>
      <th>Parentingprogramday2 5</th>
      <th>Parentingprogramday2 6</th>
      <th>Parentingprogramday3 1</th>
      <th>Parentingprogramday3 2</th>
      <th>Parentingprogramday3 3</th>
      <th>Parentingprogramday3 4</th>
      <th>Parentingprogramday3 5</th>
      <th>Parentingprogramday3 6</th>
      <th>Parentingprogramrefresher 1</th>
      <th>Parentingprogramrefresher 2</th>
      <th>Parentingprogramrefresher 3</th>
      <th>Parentingprogramrefresher 4</th>
      <th>Parentingprogramrefresher 5</th>
      <th>Parentingprogramrefresher 6</th>
      <th>Friendsschool 1</th>
      <th>Friendsschool 2</th>
      <th>Friendsschool 3</th>
      <th>Friendsschool 4</th>
      <th>Friendsschool 5</th>
      <th>Friendsschool 6</th>
      <th>Creativearts 1</th>
      <th>Creativearts 2</th>
      <th>Creativearts 3</th>
      <th>Creativearts 4</th>
      <th>Creativearts 5</th>
      <th>Creativearts 6</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @program_developments.each do |program_development| %>
      <tr>
        <td><%= program_development.leader_id %></td>
        <td><%= program_development.PCFUNDay1_1 %></td>
        <td><%= program_development.PCFUNDay1_2 %></td>
        <td><%= program_development.PCFUNDay1_3 %></td>
        <td><%= program_development.PCFUNDay1_4 %></td>
        <td><%= program_development.PCFUNDay1_5 %></td>
        <td><%= program_development.PCFUNDay1_6 %></td>
        <td><%= program_development.PCFUNDay2_1 %></td>
        <td><%= program_development.PCFUNDay2_2 %></td>
        <td><%= program_development.PCFUNDay2_3 %></td>
        <td><%= program_development.PCFUNDay2_4 %></td>
        <td><%= program_development.PCFUNDay2_5 %></td>
        <td><%= program_development.PCFUNDay2_6 %></td>
        <td><%= program_development.PCFUNDay3_1 %></td>
        <td><%= program_development.PCFUNDay3_2 %></td>
        <td><%= program_development.PCFUNDay3_3 %></td>
        <td><%= program_development.PCFUNDay3_4 %></td>
        <td><%= program_development.PCFUNDay3_5 %></td>
        <td><%= program_development.PCFUNDay3_6 %></td>
        <td><%= program_development.PCFUNDay4_1 %></td>
        <td><%= program_development.PCFUNDay4_2 %></td>
        <td><%= program_development.PCFUNDay4_3 %></td>
        <td><%= program_development.PCFUNDay4_4 %></td>
        <td><%= program_development.PCFUNDay4_5 %></td>
        <td><%= program_development.PCFUNDay4_6 %></td>
        <td><%= program_development.PrincipalPCFUNDay1_1 %></td>
        <td><%= program_development.PrincipalPCFUNDay1_2 %></td>
        <td><%= program_development.PrincipalPCFUNDay1_3 %></td>
        <td><%= program_development.PrincipalPCFUNDay1_4 %></td>
        <td><%= program_development.PrincipalPCFUNDay1_5 %></td>
        <td><%= program_development.PrincipalPCFUNDay1_6 %></td>
        <td><%= program_development.PrincipalPCFUNDay2_1 %></td>
        <td><%= program_development.PrincipalPCFUNDay2_2 %></td>
        <td><%= program_development.PrincipalPCFUNDay2_3 %></td>
        <td><%= program_development.PrincipalPCFUNDay2_4 %></td>
        <td><%= program_development.PrincipalPCFUNDay2_5 %></td>
        <td><%= program_development.PrincipalPCFUNDay2_6 %></td>
        <td><%= program_development.ParentingProgramDay1_1 %></td>
        <td><%= program_development.ParentingProgramDay1_2 %></td>
        <td><%= program_development.ParentingProgramDay1_3 %></td>
        <td><%= program_development.ParentingProgramDay1_4 %></td>
        <td><%= program_development.ParentingPramDay1_5 %></td>
        <td><%= program_development.ParentingProgramDay1_6 %></td>
        <td><%= program_development.ParentingProgramDay2_1 %></td>
        <td><%= program_development.ParentingProgramDay2_2 %></td>
        <td><%= program_development.ParentingProgramDay2_3 %></td>
        <td><%= program_development.ParentingProgramDay2_4 %></td>
        <td><%= program_development.ParentingProgramDay2_5 %></td>
        <td><%= program_development.ParentingProgramDay2_6 %></td>
        <td><%= program_development.ParentingProgramDay3_1 %></td>
        <td><%= program_development.ParentingProgramDay3_2 %></td>
        <td><%= program_development.ParentingProgramDay3_3 %></td>
        <td><%= program_development.ParentingProgramDay3_4 %></td>
        <td><%= program_development.ParentingProgramDay3_5 %></td>
        <td><%= program_development.ParentingProgramDay3_6 %></td>
        <td><%= program_development.ParentingProgramRefresher_1 %></td>
        <td><%= program_development.ParentingProgramRefresher_2 %></td>
        <td><%= program_development.ParentingProgramRefresher_3 %></td>
        <td><%= program_development.ParentingProgramRefresher_4 %></td>
        <td><%= program_development.ParentingProgramRefresher_5 %></td>
        <td><%= program_development.ParentingProgramRefresher_6 %></td>
        <td><%= program_development.FriendsSchool_1 %></td>
        <td><%= program_development.FriendsSchool_2 %></td>
        <td><%= program_development.FriendsSchool_3 %></td>
        <td><%= program_development.FriendsSchool_4 %></td>
        <td><%= program_development.FriendsSchool_5 %></td>
        <td><%= program_development.FriendsSchool_6 %></td>
        <td><%= program_development.CreativeArts_1 %></td>
        <td><%= program_development.CreativeArts_2 %></td>
        <td><%= program_development.CreativeArts_3 %></td>
        <td><%= program_development.CreativeArts_4 %></td>
        <td><%= program_development.CreativeArts_5 %></td>
        <td><%= program_development.CreativeArts_6 %></td>
        <td><%= link_to 'Show', program_development %></td>
        <td><%= link_to 'Edit', edit_program_development_path(program_development) %></td>
        <td><%= link_to 'Destroy', program_development, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program development', new_program_development_path %>
