<p id="notice"><%= notice %></p>

<p>
  <strong>Leader:</strong>
  <%= @program_development.leader_id %>
</p>

<p>
  <strong>Pcfunday1 1:</strong>
  <%= @program_development.PCFUNDay1_1 %>
</p>

<p>
  <strong>Pcfunday1 2:</strong>
  <%= @program_development.PCFUNDay1_2 %>
</p>

<p>
  <strong>Pcfunday1 3:</strong>
  <%= @program_development.PCFUNDay1_3 %>
</p>

<p>
  <strong>Pcfunday1 4:</strong>
  <%= @program_development.PCFUNDay1_4 %>
</p>

<p>
  <strong>Pcfunday1 5:</strong>
  <%= @program_development.PCFUNDay1_5 %>
</p>

<p>
  <strong>Pcfunday1 6:</strong>
  <%= @program_development.PCFUNDay1_6 %>
</p>

<p>
  <strong>Pcfunday2 1:</strong>
  <%= @program_development.PCFUNDay2_1 %>
</p>

<p>
  <strong>Pcfunday2 2:</strong>
  <%= @program_development.PCFUNDay2_2 %>
</p>

<p>
  <strong>Pcfunday2 3:</strong>
  <%= @program_development.PCFUNDay2_3 %>
</p>

<p>
  <strong>Pcfunday2 4:</strong>
  <%= @program_development.PCFUNDay2_4 %>
</p>

<p>
  <strong>Pcfunday2 5:</strong>
  <%= @program_development.PCFUNDay2_5 %>
</p>

<p>
  <strong>Pcfunday2 6:</strong>
  <%= @program_development.PCFUNDay2_6 %>
</p>

<p>
  <strong>Pcfunday3 1:</strong>
  <%= @program_development.PCFUNDay3_1 %>
</p>

<p>
  <strong>Pcfunday3 2:</strong>
  <%= @program_development.PCFUNDay3_2 %>
</p>

<p>
  <strong>Pcfunday3 3:</strong>
  <%= @program_development.PCFUNDay3_3 %>
</p>

<p>
  <strong>Pcfunday3 4:</strong>
  <%= @program_development.PCFUNDay3_4 %>
</p>

<p>
  <strong>Pcfunday3 5:</strong>
  <%= @program_development.PCFUNDay3_5 %>
</p>

<p>
  <strong>Pcfunday3 6:</strong>
  <%= @program_development.PCFUNDay3_6 %>
</p>

<p>
  <strong>Pcfunday4 1:</strong>
  <%= @program_development.PCFUNDay4_1 %>
</p>

<p>
  <strong>Pcfunday4 2:</strong>
  <%= @program_development.PCFUNDay4_2 %>
</p>

<p>
  <strong>Pcfunday4 3:</strong>
  <%= @program_development.PCFUNDay4_3 %>
</p>

<p>
  <strong>Pcfunday4 4:</strong>
  <%= @program_development.PCFUNDay4_4 %>
</p>

<p>
  <strong>Pcfunday4 5:</strong>
  <%= @program_development.PCFUNDay4_5 %>
</p>

<p>
  <strong>Pcfunday4 6:</strong>
  <%= @program_development.PCFUNDay4_6 %>
</p>

<p>
  <strong>Principalpcfunday1 1:</strong>
  <%= @program_development.PrincipalPCFUNDay1_1 %>
</p>

<p>
  <strong>Principalpcfunday1 2:</strong>
  <%= @program_development.PrincipalPCFUNDay1_2 %>
</p>

<p>
  <strong>Principalpcfunday1 3:</strong>
  <%= @program_development.PrincipalPCFUNDay1_3 %>
</p>

<p>
  <strong>Principalpcfunday1 4:</strong>
  <%= @program_development.PrincipalPCFUNDay1_4 %>
</p>

<p>
  <strong>Principalpcfunday1 5:</strong>
  <%= @program_development.PrincipalPCFUNDay1_5 %>
</p>

<p>
  <strong>Principalpcfunday1 6:</strong>
  <%= @program_development.PrincipalPCFUNDay1_6 %>
</p>

<p>
  <strong>Principalpcfunday2 1:</strong>
  <%= @program_development.PrincipalPCFUNDay2_1 %>
</p>

<p>
  <strong>Principalpcfunday2 2:</strong>
  <%= @program_development.PrincipalPCFUNDay2_2 %>
</p>

<p>
  <strong>Principalpcfunday2 3:</strong>
  <%= @program_development.PrincipalPCFUNDay2_3 %>
</p>

<p>
  <strong>Principalpcfunday2 4:</strong>
  <%= @program_development.PrincipalPCFUNDay2_4 %>
</p>

<p>
  <strong>Principalpcfunday2 5:</strong>
  <%= @program_development.PrincipalPCFUNDay2_5 %>
</p>

<p>
  <strong>Principalpcfunday2 6:</strong>
  <%= @program_development.PrincipalPCFUNDay2_6 %>
</p>

<p>
  <strong>Parentingprogramday1 1:</strong>
  <%= @program_development.ParentingProgramDay1_1 %>
</p>

<p>
  <strong>Parentingprogramday1 2:</strong>
  <%= @program_development.ParentingProgramDay1_2 %>
</p>

<p>
  <strong>Parentingprogramday1 3:</strong>
  <%= @program_development.ParentingProgramDay1_3 %>
</p>

<p>
  <strong>Parentingprogramday1 4:</strong>
  <%= @program_development.ParentingProgramDay1_4 %>
</p>

<p>
  <strong>Parentingpramday1 5:</strong>
  <%= @program_development.ParentingPramDay1_5 %>
</p>

<p>
  <strong>Parentingprogramday1 6:</strong>
  <%= @program_development.ParentingProgramDay1_6 %>
</p>

<p>
  <strong>Parentingprogramday2 1:</strong>
  <%= @program_development.ParentingProgramDay2_1 %>
</p>

<p>
  <strong>Parentingprogramday2 2:</strong>
  <%= @program_development.ParentingProgramDay2_2 %>
</p>

<p>
  <strong>Parentingprogramday2 3:</strong>
  <%= @program_development.ParentingProgramDay2_3 %>
</p>

<p>
  <strong>Parentingprogramday2 4:</strong>
  <%= @program_development.ParentingProgramDay2_4 %>
</p>

<p>
  <strong>Parentingprogramday2 5:</strong>
  <%= @program_development.ParentingProgramDay2_5 %>
</p>

<p>
  <strong>Parentingprogramday2 6:</strong>
  <%= @program_development.ParentingProgramDay2_6 %>
</p>

<p>
  <strong>Parentingprogramday3 1:</strong>
  <%= @program_development.ParentingProgramDay3_1 %>
</p>

<p>
  <strong>Parentingprogramday3 2:</strong>
  <%= @program_development.ParentingProgramDay3_2 %>
</p>

<p>
  <strong>Parentingprogramday3 3:</strong>
  <%= @program_development.ParentingProgramDay3_3 %>
</p>

<p>
  <strong>Parentingprogramday3 4:</strong>
  <%= @program_development.ParentingProgramDay3_4 %>
</p>

<p>
  <strong>Parentingprogramday3 5:</strong>
  <%= @program_development.ParentingProgramDay3_5 %>
</p>

<p>
  <strong>Parentingprogramday3 6:</strong>
  <%= @program_development.ParentingProgramDay3_6 %>
</p>

<p>
  <strong>Parentingprogramrefresher 1:</strong>
  <%= @program_development.ParentingProgramRefresher_1 %>
</p>

<p>
  <strong>Parentingprogramrefresher 2:</strong>
  <%= @program_development.ParentingProgramRefresher_2 %>
</p>

<p>
  <strong>Parentingprogramrefresher 3:</strong>
  <%= @program_development.ParentingProgramRefresher_3 %>
</p>

<p>
  <strong>Parentingprogramrefresher 4:</strong>
  <%= @program_development.ParentingProgramRefresher_4 %>
</p>

<p>
  <strong>Parentingprogramrefresher 5:</strong>
  <%= @program_development.ParentingProgramRefresher_5 %>
</p>

<p>
  <strong>Parentingprogramrefresher 6:</strong>
  <%= @program_development.ParentingProgramRefresher_6 %>
</p>

<p>
  <strong>Friendsschool 1:</strong>
  <%= @program_development.FriendsSchool_1 %>
</p>

<p>
  <strong>Friendsschool 2:</strong>
  <%= @program_development.FriendsSchool_2 %>
</p>

<p>
  <strong>Friendsschool 3:</strong>
  <%= @program_development.FriendsSchool_3 %>
</p>

<p>
  <strong>Friendsschool 4:</strong>
  <%= @program_development.FriendsSchool_4 %>
</p>

<p>
  <strong>Friendsschool 5:</strong>
  <%= @program_development.FriendsSchool_5 %>
</p>

<p>
  <strong>Friendsschool 6:</strong>
  <%= @program_development.FriendsSchool_6 %>
</p>

<p>
  <strong>Creativearts 1:</strong>
  <%= @program_development.CreativeArts_1 %>
</p>

<p>
  <strong>Creativearts 2:</strong>
  <%= @program_development.CreativeArts_2 %>
</p>

<p>
  <strong>Creativearts 3:</strong>
  <%= @program_development.CreativeArts_3 %>
</p>

<p>
  <strong>Creativearts 4:</strong>
  <%= @program_development.CreativeArts_4 %>
</p>

<p>
  <strong>Creativearts 5:</strong>
  <%= @program_development.CreativeArts_5 %>
</p>

<p>
  <strong>Creativearts 6:</strong>
  <%= @program_development.CreativeArts_6 %>
</p>

<%= link_to 'Edit', edit_program_development_path(@program_development) %> |
<%= link_to 'Back', program_developments_path %>
