<p id="notice"><%= notice %></p>

<%= hidden_field_tag :user_id, @user.id %>

<h1>Listing Developments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developments.each do |development| %>
      <tr>
        <td><%= development.user_id %></td>
        <td><%= link_to 'Show', development %></td>
        <td><%= link_to 'Edit', edit_development_path(development) %></td>
        <td><%= link_to 'Destroy', development, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Development', new_development_path %>
