<p id="notice"><%= notice %></p>

<h2>Search Sites</h2>

<%= form_tag(sites_path, :method => "Get", id: "search-form") do %>
    <%= text_field_tag :search_sites, params[:search_sites], placeholder: "Search Sites:" %>
    <%= submit_tag "Search", :name=> nil %>
<% end %>
<p>

<table id="table_show_leaders" class="display" cellpadding="5" border="1" cellspacing="0"  frame="box" width="300">
  <thead>
    <tr>
      <th>Sites</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.school_name, edit_site_path(site) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
